<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title></title>
  <style>
  i{
    cursor: pointer;
  }
  </style>
</head>
<body>



<i class="fa-solid fa-floppy-disk" (click)="exportCSV()"></i>
<div class="data-table-div column-table">

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="true-table-head" colspan="9"><h5 class="table-title">VENDORS</h5></th>
    </tr>
    <tr>
      <th scope="col"> Client ID <i class="fa-solid fa-sort" (click)="getVendors('1')"></i></th>
      <th scope="col"> Branch <i class="fa-solid fa-sort" (click)="getVendors('2')"></i></th>
      <th scope="col"> Employee Count <i class="fa-solid fa-sort" (click)="getVendors('3')"></i></th>
      <th scope="col"> W2 Count <i class="fa-solid fa-sort" (click)="getVendors('4')"></i></th>
      <th scope="col"> Lookup ID <i class="fa-solid fa-sort" (click)="getVendors('5')"></i></th>
      <th scope="col"> Abbreviation <i class="fa-solid fa-sort" (click)="getVendors('6')"></i></th>
      <th scope="col"> Description <i class="fa-solid fa-sort" (click)="getVendors('7')"></i></th>
      <th scope="col"> Full Name <i class="fa-solid fa-sort" (click)="getVendors('8')"></i></th>
      <th scope="col"> State <i class="fa-solid fa-sort" (click)="getVendors('9')"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="venidfilter" placeholder="Filter Vendor ID">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="vendorBranchFilter" placeholder="Filter Branch">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control"  [(ngModel)]="vendorEmployeeFilter" placeholder="Filter Emp. Count">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="vendorW2Filter" placeholder="Filter W2 Count">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="vendorLookupIdFilter" placeholder="Filter Lookup ID">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="vendorAbbreviationFilter" placeholder="Filter Abbreviation">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="vendorDescriptionFilter" placeholder="Filter Description">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="vendorFullNameFilter" placeholder="Filter Vendor Name">
        </div>
      </td>
      <td>
        <div class="form-group" >
<!--          <input type="search" class="form-control" [(ngModel)]="vendorStateFilter" placeholder="Filter State">-->
          <input type="search" id="v_state" name="v_state" class="form-control" [(ngModel)]="vendorStateFilter" placeholder="Filter State" value="">
        </div>
      </td>
    </tr>
    <tr *ngFor = "let vendor of vendors
          | venid: venidfilter
          | venbranch: vendorBranchFilter
          | venemployee: vendorEmployeeFilter
          | vendorw2: vendorW2Filter
          | vendorlookupid: vendorLookupIdFilter
          | vendorabbrev: vendorAbbreviationFilter
          | vendordescr: vendorDescriptionFilter
          | vendorname: vendorFullNameFilter
          | vendorstate: vendorStateFilter
    ">
      <td> {{ vendor.vendorId.clientId }} </td>
      <td> {{ vendor.vendorId.branch }} </td>
      <td> {{ vendor.employeeCount }} </td>
      <td> {{ vendor.w2Count }} </td>
      <td> {{ vendor.lookupId.lookupId }}
      <td> {{ vendor.lookupId.abbreviation }} </td>
      <td> {{ vendor.lookupId.description }} </td>
      <td> {{ vendor.lookupId.fullName }} </td>
      <td> {{ vendor.lookupId.state }} </td>
    </tr>
    </tbody>
  </table>

  <!-- CARRIER TABLE -->
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="true-table-head" colspan="9"><h5 class="table-title">CARRIERS</h5></th>
    </tr>
    <tr>
      <th scope="col"> Carrier ID <i class="fa-solid fa-sort" (click)="getCarriers('1')"></i></th>
      <th scope="col"> Branch <i class="fa-solid fa-sort" (click)="getCarriers('2')"></i></th>
      <th scope="col"> Dest. Address <i class="fa-solid fa-sort" (click)="getCarriers('3')"></i></th>
      <th scope="col"> Tracking ID <i class="fa-solid fa-sort" (click)="getCarriers('4')"></i></th>
      <th scope="col"> Lookup ID <i class="fa-solid fa-sort" (click)="getCarriers('5')"></i></th>
      <th scope="col"> Abbreviation <i class="fa-solid fa-sort" (click)="getCarriers('6')"></i></th>
      <th scope="col"> Description <i class="fa-solid fa-sort" (click)="getCarriers('7')"></i></th>
      <th scope="col"> Full Name <i class="fa-solid fa-sort" (click)="getCarriers('8')"></i></th>
      <th scope="col"> State <i class="fa-solid fa-sort" (click)="getCarriers('9')"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierIdFilter" placeholder="Filter Carrier ID">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierBranchFilter" placeholder="Filter Branch">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierDestAddrFilter" placeholder="Filter Dest. Addr.">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierTrackIdFilter" placeholder="Filter Tracking ID">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierLookupIdFilter" placeholder="Filter Lookup ID">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierAbbrevFilter" placeholder="Filter Abbreviation">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierDescripFilter" placeholder="Filter Description">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="carrierFullnamefilter" placeholder="Filter Name">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" id="ca_state" name="ca_state" class="form-control" [(ngModel)]="carrierStateFilter" placeholder="Filter State" value="">
        </div>
      </td>
    </tr>
    <tr *ngFor = "let carrier of carriers
          | carid: carrierIdFilter
          | carbranch: carrierBranchFilter
          | cardestaddr: carrierDestAddrFilter
          | cartrackid: carrierTrackIdFilter
          | carlookid: carrierLookupIdFilter
          | carabbrev: carrierAbbrevFilter
          | cardescr: carrierDescripFilter
          | carname: carrierFullnamefilter
          | carstate: carrierStateFilter
    ">
      <td> {{ carrier.carrierId.clientId }} </td>
      <td> {{ carrier.carrierId.branch }} </td>
      <td> {{ carrier.destinationAddress }} </td>
      <td> {{ carrier.trackingId }} </td>
      <td> {{ carrier.carrierLookupId.lookupId }} </td>
      <td> {{ carrier.carrierLookupId.abbreviation }} </td>
      <td> {{ carrier.carrierLookupId.description }} </td>
      <td> {{ carrier.carrierLookupId.fullName }} </td>
      <td> {{ carrier.carrierLookupId.state }} </td>


    </tbody>
  </table>

  <!-- CLIENT TABLE  -->

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="true-table-head" colspan="9"><h5 class="table-title">CLIENTS</h5></th>
    </tr>
    <tr>
      <th scope="col"> W2 Transmission ID <i class="fa-solid fa-sort" (click)="getClients('1')"></i></th>
      <th scope="col"> Branch <i class="fa-solid fa-sort" (click)="getClients('2')"></i></th>
      <th scope="col"> Created Date <i class="fa-solid fa-sort" (click)="getClients('3')"></i></th>
      <th scope="col"> Employee Count <i class="fa-solid fa-sort" (click)="getClients('4')"></i></th>
      <th scope="col"> Transmission File <i class="fa-solid fa-sort" (click)="getClients('5')"></i></th>
      <th scope="col"> W2 Count <i class="fa-solid fa-sort" (click)="getClients('6')"></i></th>
      <th scope="col"> W2 Delivery Address <i class="fa-solid fa-sort" (click)="getClients('7')"></i></th>
      <th scope="col"> Lookup ID <i class="fa-solid fa-sort" (click)="getClients('8')"></i></th>
      <th scope="col"> State <i class="fa-solid fa-sort" (click)="getClients('9')"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientTransIdFilter" placeholder="Filter TX ID">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientBranchFilter" placeholder="Filter Branch">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientCreatedDatefilter" placeholder="Filter Created Date">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientEmployeeFilter" placeholder="Filter Emp. Count">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientTransFileFilter" placeholder="Filter TX File">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientW2Filter" placeholder="Filter W2 Count">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientDeliveryAddressFilter" placeholder="Filter Delivery Addr.">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" class="form-control" [(ngModel)]="clientLookupIdFilter" placeholder="Filter Lookup ID">
        </div>
      </td>
      <td>
        <div class="form-group" >
          <input type="search" id="cl_state" name="cl_state" class="form-control" [(ngModel)]="clientStateFilter" placeholder="Filter State">
        </div>
      </td>
    </tr>
    <tr *ngFor = "let client of clients
          | clienttxid: clientTransIdFilter
          | clientbranch: clientBranchFilter
          | clientdate: clientCreatedDatefilter
          | clientemployee: clientEmployeeFilter
          | clienttxfile: clientTransFileFilter
          | clientw2: clientW2Filter
          | clientdeladdr: clientDeliveryAddressFilter
          | clientlookup: clientLookupIdFilter
          | clientstate: clientStateFilter
    ">
      <td> {{ client.w2TransmissionId }} </td>
      <td> {{ client.branch }} </td>
      <td> {{ client.createdDate }} </td>
      <td> {{ client.employeeCount }} </td>
      <td> {{ client.transmissionFile }} </td>
      <td> {{ client.w2Count }} </td>
      <td> {{ client.w2DeliveryAddress }} </td>
      <td> {{ client.clientTypeId.lookupId }} </td>
      <td> {{ client.deliveryCodeTypeId.state }} </td>
    </tbody>
  </table>

  <!-- END data-table-component.html-->
</div>


</body>
</html>

