@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

*{
  font-family: sans-serif;
}

body{
  height: auto;
}

/*--------- GLOBAL ELEMENTS --------*/
/*
#body-div{
  display: flex;
  flex-direction: column;
  background-color: #9fa3a7;
  min-height: 100vh;
  height: auto;
}
*/
thead{
  background-color: var(--bs-purple);
  color: var(--white-rock);
}

/*--  Define Capstone Color Scheme Variables   --*
         Generated @ imagecolorpicker.com     --*/
:root{
  --pickled-bluewood: #304b5d;
  --white-rock: #ece7da;
  --hillary: #aea285;
  --twine: #c19053;
  --spicy-mix: #92604c;
  --edward: #a8b0ae;
  --foggy-gray: #c7c4ae;
  --gray-chateau: #9fa3a7;
  --pelorous: #3eb2b2;
}

/*------- HEADER SECTION START -------*/

#header-section{
  background-color: var(--bs-purple);
  height: 60px;
  display: flex;
  flex-direction: row;
}

h2{
  color: white;
}

/*------- MAIN SECTION START -------*/
/*
This is the section where the map and the filters table will be
*/

.fa-square-caret-down{
  position: absolute;
  margin: 18px 0 0 35px;
}
/*
#main-content-div{
  background-color: white;
  border-radius: 12px;
  border: 3px solid var(--bs-purple);
  min-height: 1px;
  margin: 10px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/
#main-content-div{
  background-color: white;
  border-radius: 12px;
  border: 3px solid var(--bs-purple);
  min-height: 1px;
  margin: 10px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;*/
}

#cmm-usa{
  margin: 5px;
}

.form-group{
  border: solid 3px var(--bs-purple);
  border-radius: 9px;
}


.column-table{
  border-radius: 0 0 10px 10px;
  min-width: 300px;
  margin: 10px;
}

.fa-square-check{
  font-size: 20px;
  color: var(--gray-chateau);
  z-index: 5;
}

#sorting-table{
  margin-right: 50px;
}

/* Legend Position Style */
.legend {
  position: absolute;
  left: 800px;
  top: 350px;
}

/* Legend Color Scale */
.color-0 {
  fill: rgb(230, 245, 240);
}

.color-1 {
  fill: rgb(171, 221, 215);
}

.color-2 {
  fill: rgb(87, 186, 177);
}

.color-3 {
  fill: rgb(27, 120, 105);
}

/*------- BOTTOM SECTION START -------*/
/*
This is where the data table will be*/

#data-table-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border: 3px solid var(--bs-purple);
  margin: 10px 15px 10px 15px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  left: 0.5px;
  top: 668px;
  width: 98.5%;
}

.fa-floppy-disk{
  font-size: 30px;
  color: var(--bs-purple);
  z-index: 5;
}

.data-table-div{
  height: auto;
}

td{
  min-width: 150px;
}


path {
  stroke: var(--bs-purple);
  /*fill: #e0e0e0 !important;*/

  transition: fill .4s ease;
}

#us-map {
  display: block;
  position: relative; /* change position property */
  width: 100%;
  height: 100%;
  z-index: 0; /* change z-index value */
}

#details-box {
  padding: 1rem;
  border-radius: 8px;
  border: solid 1.5px black;
  font-size: 24px;
  position: fixed;
  color: var(--bs-purple);
  font-family: sans-serif;
  background-color: rgb(204, 224, 232);
  width: fit-content;
  transform: translateX(-50%);
  transition: opacity .4s ease;
  z-index: 1;
}



/* DATA TABLE ATTRIBUTES */

th{
  position: relative;
}

.fa-sort{
  font-size: 20px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.table-title{
  margin-left: 45%;
}
